/**
* Created by Atom.
* User: reaper45
* Date: 06/23/17
* Time: 01:53 AM
*/
@import url('https://fonts.googleapis.com/css?family=Work+Sans:200');

html, body {
  color: #636b6f;
  /*font-family: 'Raleway', sans-serif;*/
  font-weight: 100;
  /*height: 100%;*/
  margin: 0;
}
.welcome-body{
  height: 100%;
  background-color: rgb(23, 24, 24);
}
/*login + register container*/
.auth_container{
  width: 60%;
  margin: 0 auto;
}

/*welcome view*/
.title {
  font-size: 70px;
  font: 200 5.56rem/1.1 "Work Sans" !important;
  color: #fff;
}
.m-b-md {
  margin-bottom: 130px;
  padding-top: 150px;
}

/*Footer*/
footer{
  color: #ccc;
  border-top: solid 1px #cccccc;
  padding-top: 20px;
  padding-bottom: 15px;
  background: transparent;
  /*margin-top: -70px;*/
}

.navbar-brand{
  font-weight: 700;
  font-size: 24px;
  color: #fff !important;
}

.navbar{
  border-radius: 0px;
  /*background: #6198ff;*/ /* light blue color*/
  background: rgb(23, 24, 24);
  margin-bottom: 0px !important;
  border: 0px;
  /*min-height: 70px !important;*/
}

.navbar-nav > li > a{
  padding: 10px !important;
  color: #fff !important;
  margin-top: 5px;
}

.navbar-right{
  font-weight: 7  00;
  font-style: normal;
  font-size: 12px;
  letter-spacing: .8px;
  line-height: 9px;
  text-transform: uppercase;
}

.action-btn{
  padding: 0 10px;
  /*height: 40px;*/
  border-radius: 40px;
  box-shadow: inset 0 0 0 1px #eee;
  position: relative;
  background: transparent;
  color: #fff;
  box-shadow: inset 0 0 0 1px #fff;
  transition-delay: .2s;
  transition: all .4s cubic-bezier(.25,1,.25,1);
  transition-property: all;
}

.main{
  /*background: #377DFF;*/ /* A blue background*/
  /*height: 100%;*/
  margin: 0px;
}

.complaine-text{
  color: #fff;
  font: 200 2.56rem/1.1 "Work Sans" !important;
}

.line{
  border-color: #fff;
  position: absolute;
  width: 40%;
  right: 10%;
}

.btn-default{
  border-color: transparent !important;
}

.required{
  color: red;
}

.form-horizontal .form-group{
  margin-left: 0px;
  margin-right: 0px;
}

.control-label{
  margin-bottom: 5px !important;
}

.profile-details{
  /*color: #fff !important;*/
}
.profile-container{
  display: table;
  vertical-align: top;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: solid 1px #ccc;
  width: 100%;
}
.account-avatar, .profile-details{
  display: table-cell;
  vertical-align: top;
}
.account-avatar{
  padding-right: 20px;
}
.account-avatar > img{
  width: 100px;
  height: 100px;
}
.account-name{
  /*font-weight: bolder;*/
  display: table;
}
.account-title .page-title{
  padding: 10px 10px;
  margin-bottom: 1.25em;
  font-size: 1.3em;
  font-weight: bolder;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
  border-left: solid 2px #b10404;
}

.alert{
  border-left: solid;
  transition: box-shadow .25s;
  border-radius: 0px;
}

.fa-3x{
  font-size: 5.5em;
}

.btn-delete{
  padding: 5px !important;
  font-size: 12px;
}
.online:after{
  content: " ";
  display: inline-block;
  background: rgb(3, 165, 56);
  border-radius: 5px;
  width: 10px;
  height: 10px;
  margin-top: 8px;
  margin-left: 10px;
}
.glyphicon{
  font-weight: 100;
  font-size: 1.3em;
}
.card{
  box-shadow: 0 1px 0px rgba(0,0,0,0.12), 0px 1px 1px rgba(0,0,0,0.24);
  background: #fff;
  padding: 10px 15px;
  margin-bottom: 15px;
  text-align: center;
}
.assign-to{
  cursor: pointer;
}
